* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* TOPO */
.topo {
    text-align: center;
    padding: 50px 20px;
    background-color: #020617;
}

.foto-perfil {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #22c55e;
    margin-bottom: 20px;
}

.topo h1 {
    color: #22c55e;
    font-size: 2.3rem;
}

.topo p {
    color: #cbd5f5;
}

/* SEÇÕES */
section {
    max-width: 900px;
    margin: 30px auto;
    background-color: #020617;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #22c55e;
    margin-bottom: 15px;
}

/* LISTAS */
ul {
    list-style: none;
}

ul li {
    background-color: #0f172a;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #22c55e;
    border-radius: 5px;
}

/* PROJETOS */
.projeto {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1e293b;
}

.projeto h3 {
    color: #86efac;
    margin-bottom: 5px;
}

/* CONTATO */
.contato p {
    margin-bottom: 8px;
}

/* RODAPÉ */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
    color: #94a3b8;
    margin-top: 40px;
}